name: test
on: push
jobs:
  test:
    runs-on: ubuntu-24.04
    container: ryuichiueda/ubuntu22.04-ros2:latest
    steps:
       - uses: actions/checkout@v3
       - name: build and test
         run: |
           apt-get update
           apt-get install -y python3-geopy
           python3 -c "import geopy; print('geopy installed successfully')"
           rsync -av ./ /root/ros2_ws/src/robosys2025_assignment_2/
           cd /root/ros2_ws
           bash -xv ./src/virtual_travel/test/test.bash /root
