name: test
on: push
jobs:
  test:
    runs-on: ubuntu-24.04
    container: ryuichiueda/ubuntu22.04-ros2:latest
    steps:
       - uses: actions/checkout@v3
       - name: build and test
         run: |
           rsync -av ./ /root/ros2_ws/src/virtual_travel/
           cd /root/ros2_ws
           bash -xv ./src/virtual_travel/test/test.bash /root
